<ng-container [formGroup]="personalDetails">
    <div class="row px-0 mx-0 py-3">
        <div class="col-md-7 col-sm-12 colxs-12">
            <kendo-formfield [orientation]="'horizontal'">
                <kendo-label [for]="fullName" text="Full Name"></kendo-label>
                <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                <kendo-formerror>Full Name is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield showHints="initial" showErrors="initial" [orientation]="'horizontal'">
                <kendo-label [for]="country" text="Country"></kendo-label>
                <!-- <kendo-autocomplete #country [data]="countries" formControlName="country">
                </kendo-autocomplete> -->
                <!-- <kendo-label [for]="fullName" text="Full Name"></kendo-label> -->
                <kendo-textbox formControlName="country" #country [clearButton]="true"></kendo-textbox>
                <!-- <kendo-formhint>Only Eroupean countries</kendo-formhint> -->
                <kendo-formerror *ngIf="!(personalDetails.controls.country.required)">Country is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield orientation="horizontal" showHints="initial">
                <label class="k-label">Gender</label>

                <ul class="k-radio-list k-list-horizontal">
                    <li class="k-radio-item">
                        <input type="radio" #male value="male" kendoRadioButton formControlName="gender" />
                        <kendo-label class="k-radio-label" [for]="male" text="Male"></kendo-label>
                    </li>

                    <li class="k-radio-item">
                        <input type="radio" #female value="female" kendoRadioButton formControlName="gender" />
                        <kendo-label class="k-radio-label" [for]="female" text="Female"></kendo-label>
                    </li>

                    <li class="k-radio-item">
                        <input type="radio" #other value="other" kendoRadioButton formControlName="gender" />
                        <kendo-label class="k-radio-label" [for]="other" text="Other"></kendo-label>
                    </li>
                </ul>

                <kendo-formerror>This field is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield>
                <kendo-label [for]="about" text="About" [optional]="true"></kendo-label>
                <kendo-textarea #about formControlName="about" placeholder="Who you are..."></kendo-textarea>
            </kendo-formfield>
        </div>
        <div class="col-md-5 col-sm-12 colxs-12">
            <div class="card bg-green addressCard">
                <kendo-formfield [orientation]="'horizontal'">
                    <kendo-label [for]="fullName" text=" Address"></kendo-label>
                    <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                    <kendo-formerror>Address is required</kendo-formerror>
                </kendo-formfield>
                <div class="row">
                    <div class="col-md-6">
                        <kendo-formfield [orientation]="'horizontal'">
                            <kendo-label [for]="fullName" text="City"></kendo-label>
                            <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                            <kendo-formerror>Full Name is required</kendo-formerror>
                        </kendo-formfield>
                    </div>
                    <div class="col-md-6">
                        <kendo-formfield [orientation]="'horizontal'">
                            <kendo-label [for]="fullName" text="Country"></kendo-label>
                            <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                            <kendo-formerror>Full Name is required</kendo-formerror>
                        </kendo-formfield>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <kendo-formfield [orientation]="'horizontal'">
                            <kendo-label [for]="fullName" text="PO Box"></kendo-label>
                            <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                            <kendo-formerror>Full Name is required</kendo-formerror>
                        </kendo-formfield>
                    </div>
                    <div class="col-md-6">
                        <kendo-formfield [orientation]="'horizontal'">
                            <kendo-label [for]="fullName" text="Contact #"></kendo-label>
                            <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                            <kendo-formerror>Full Name is required</kendo-formerror>
                        </kendo-formfield>
                    </div>
                </div>




                <kendo-formfield [orientation]="'horizontal'">
                    <kendo-label [for]="fullName" text="Email"></kendo-label>
                    <kendo-textbox formControlName="fullName" #fullName [clearButton]="true"></kendo-textbox>
                    <kendo-formerror>Full Name is required</kendo-formerror>
                </kendo-formfield>


            </div>
        </div>
    </div>

</ng-container>